@font-face {
    font-family: 'Balance';
    src: url('Fonts/Balance.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*{
    margin:0px; 
    padding:0px;
    box-sizing: border-box;
}


/* -------------------------------- Header */
.navbar{

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 14vh;
    position: relative;
    background-color: #0b001a;
}

.navbar::after{ /* Ajoute un trait fin rosé en bas de ma page*/
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 78%;
    height: 2px;
    background-color: #750f33;
}

.navbar ul{
    display: flex;
    height: 5vh;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a{
    color: #fff;
    font-size: 2.3vh;
    padding: 2vh;
    text-decoration: none;
}


.navbar ul li a:hover{
    background-color: #750f33;
    border-radius: 5% ;

}

h1 a{
    color: #fff;
    padding-left: 6vh;
    font-size: 4vh;
    text-decoration: none;
}
/* -------------------------------- End of Header */



.hero-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    white-space: nowrap;
    margin: 3vh;
    height: 100%;
}


.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 7vh;
    margin-left: 5vh;
    height: 100%; 

}


.hero-section section h3 {
    font-size: 10vh; 
    line-height: 1.4; 
    height: 100%;
    padding: 2vh;
    padding-left: 4vh;
    font-family: 'Balance', Arial, Helvetica, sans-serif;
    letter-spacing: 0.4vh;  
    color: #fff;
}


.start-button {
    margin-top: 20px;
    padding: 1.5vh 3vh; 
    margin-left: 53%;
    font-size: 3.5vh; 
    font-family: 'Balance', Arial, Helvetica, sans-serif; 
    color: #fff; 
    background-color: #750f33;
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.start-button:hover {
    background-color: #a01745; 
}


 /* ------------------- Portrait Part */
.hero-section .me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    width: 45%;

}

.hero-section .me img{
    height: 60vh;
    border-radius: 60%;
    border-style: double;
    border-color: #750f33;
    border-width: 8px;
}

.hero-section .me a {
    position: relative; 
    color: #fff; 
    text-decoration: none; 
    font-size: 3.5vh; 
    padding: 4px 0; 
}

.hero-section .me a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: #750f33; 
    transition: width 0.3s ease; 
}

.hero-section .me a:hover::after {
    width: 100%; /* Révèle le soulignement au survol */
    
}


/* ------------------- End Portrait Part + Hero-section */


/* --------------------------------------------------------- */


/* ---------------------------------        About Me Section */

.AboutMe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30vh;
    margin-left: 20vh;
    margin-right: 20vh;
    padding: 5vh;
    width: 80%;
    background-color: #15042d;
    border-radius: 12%;
}

.AboutMe-content {
    width: 70%;
    padding: 20px;
    background-color: #2d164a;
    border-radius: 1%;
}



.AboutMe-content h2 {
    font-size: 5vh;
    color: #fff;
    font-family: 'Balance', Arial, Helvetica, sans-serif;
    letter-spacing: 0.6vh;
    margin-bottom: 20px;
}

.AboutMe-content p {
    font-size: 3vh;
    color: #fff;
    line-height: 1.6;
    font-family: 'Balance', Arial, Helvetica, sans-serif;
}

.timeline {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-left: 4px solid #750f33;
    padding-left: 20px;
}


.timeline-point {
    position: relative;
    padding: 10px 20px;
    margin: 6vh 0;
    background-color: #26114b;
    color: #fff;
    font-size: 2.5vh;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.timeline-point:hover {
    background-color: #750f33;
    transform: scale(1.1);
}


.timeline-point.active {
    background-color: #620a27;
}

.timeline-cursor {
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #3b091b;
    border-radius: 50%;
    left: -2px; /* Alignement sur la barre verticale */
    transform: translateX(-50%); /* Centre le curseur par rapport à lui-même */
    transition: top 0.5s ease;
    z-index: 2;
}



/* ---------------------------   Background Part */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0b001a;
    z-index: -1; /* Assure que le background soit bien à l'arrière-plan */
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    animation: move infinite linear;
    animation-duration: 30s;
}

.background span:nth-child(0) {
    color: #26114b;
    top: 48%;
    left: 8%;
    animation-duration: 107s;
    animation-delay: -21s;
    transform-origin: -10vw -20vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(1) {
    color: #26114b;
    top: 41%;
    left: 59%;
    animation-duration: 165s;
    animation-delay: -17s;
    transform-origin: 5vw 24vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}
.background span:nth-child(2) {
    color: #26114b;
    top: 10%;
    left: 51%;
    animation-duration: 54s;
    animation-delay: -139s;
    transform-origin: 25vw -1vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(3) {
    color: #26114b;
    top: 35%;
    left: 21%;
    animation-duration: 58s;
    animation-delay: -165s;
    transform-origin: -3vw 13vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(4) {
    color: #760f2e;
    top: 43%;
    left: 5%;
    animation-duration: 94s;
    animation-delay: -132s;
    transform-origin: 5vw 15vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}
.background span:nth-child(5) {
    color: #760f2e;
    top: 24%;
    left: 73%;
    animation-duration: 70s;
    animation-delay: -176s;
    transform-origin: -18vw -20vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}
.background span:nth-child(6) {
    color: #760f2e;
    top: 51%;
    left: 26%;
    animation-duration: 194s;
    animation-delay: -58s;
    transform-origin: -10vw 6vh;
    box-shadow: -56vmin 0 8vmin currentColor;
}
.background span:nth-child(7) {
    color: #760f2e;
    top: 95%;
    left: 42%;
    animation-duration: 86s;
    animation-delay: -149s;
    transform-origin: 8vw -20vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(8) {
    color: #760f2e;
    top: 78%;
    left: 76%;
    animation-duration: 190s;
    animation-delay: -44s;
    transform-origin: -14vw 3vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(9) {
    color: #26114b;
    top: 7%;
    left: 29%;
    animation-duration: 66s;
    animation-delay: -192s;
    transform-origin: -21vw -6vh;
    box-shadow: 56vmin 0 8vmin currentColor;
}



/* --------------------------------------------------             End  Background Part */



/* -----------------------------------------     Responsive Part

/* Pour les smartphones */
@media only screen and (max-width: 480px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh; /* Assure que la section prend toute la hauteur de l'écran */
        padding: 0;
    }

    .welcome {
        width: 100%;
        padding: 5vh 2vh; /* Ajuste le padding pour les petits écrans */
    }

    .welcome h3 {
        font-size: 6vh; /* Réduit la taille du texte pour les petits écrans */
        line-height: 1.2; /* Ajuste l'espacement des lignes */
        margin-bottom: 2vh; /* Ajoute un peu d'espace en bas */
    }

    .start-button {
        padding: 1.5vh 3vh; /* Ajuste le padding du bouton */
        font-size: 3vh; /* Réduit la taille du texte du bouton */
        margin-top: 2vh; /* Ajoute un peu d'espace au-dessus du bouton */
    }

    .me {
        width: 100%; /* Assure que la section portrait prend toute la largeur */
        padding: 0; /* Supprime le padding */
        margin-top: 2vh; /* Ajoute un espace au-dessus de la section portrait */
    }

    .me img {
        height: 40vh; /* Ajuste la hauteur de l'image pour les petits écrans */
        width: auto; /* Assure que l'image garde ses proportions */
        margin-top: 2vh; /* Ajoute un espace au-dessus de l'image */
    }
}
