
/* Test */ 
html {
    background-color:#0b001a;
}
  

h3 {
    color : red;
}

a {
    text-decoration: none;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0b001a;
    overflow: hidden;
}

.background span {
    width: 17vmin;
    height: 17vmin;
    border-radius: 17vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 46;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #451632;
    top: 55%;
    left: 60%;
    animation-duration: 26s;
    animation-delay: -15s;
    transform-origin: 5vw -6vh;
    box-shadow: 34vmin 0 4.636434871427839vmin currentColor;
}
.background span:nth-child(1) {
    color: #bc1a53;
    top: 94%;
    left: 60%;
    animation-duration: 45s;
    animation-delay: -32s;
    transform-origin: -23vw 12vh;
    box-shadow: -34vmin 0 5.0461457303987425vmin currentColor;
}
.background span:nth-child(2) {
    color: #d26586;
    top: 4%;
    left: 41%;
    animation-duration: 36s;
    animation-delay: -38s;
    transform-origin: 10vw 18vh;
    box-shadow: 34vmin 0 4.6434065164248945vmin currentColor;
}
.background span:nth-child(3) {
    color: #451632;
    top: 91%;
    left: 86%;
    animation-duration: 40s;
    animation-delay: -12s;
    transform-origin: -4vw -20vh;
    box-shadow: -34vmin 0 4.472575219510697vmin currentColor;
}
.background span:nth-child(4) {
    color: #d26586;
    top: 95%;
    left: 57%;
    animation-duration: 44s;
    animation-delay: -23s;
    transform-origin: 1vw -24vh;
    box-shadow: 34vmin 0 4.849274767991837vmin currentColor;
}
.background span:nth-child(5) {
    color: #bc1a53;
    top: 31%;
    left: 44%;
    animation-duration: 9s;
    animation-delay: -14s;
    transform-origin: 9vw -22vh;
    box-shadow: 34vmin 0 4.799924871012551vmin currentColor;
}
.background span:nth-child(6) {
    color: #d26586;
    top: 85%;
    left: 97%;
    animation-duration: 15s;
    animation-delay: -16s;
    transform-origin: -10vw 23vh;
    box-shadow: -34vmin 0 5.1954903903786125vmin currentColor;
}
.background span:nth-child(7) {
    color: #d26586;
    top: 25%;
    left: 75%;
    animation-duration: 17s;
    animation-delay: -21s;
    transform-origin: 0vw -20vh;
    box-shadow: 34vmin 0 4.29116123080236vmin currentColor;
}
