@font-face {
    font-family: 'Balance';
    src: url('Fonts/Balance.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*{
    margin:0px; 
    padding:0px;
    box-sizing: border-box;
}


/* -------------------------------- Header */
.navbar{

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 14vh;
    position: relative;
    background-color: #0b001a;
}

.navbar::after{ /* Ajoute un trait fin rosé en bas de ma page*/
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 78%;
    height: 2px;
    background-color: #750f33;
}

.navbar ul{
    display: flex;
    height: 5vh;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a{
    color: #fff;
    font-size: 2vh;
    padding: 12px;
    text-decoration: none;
}


.navbar ul li a:hover{
    background-color: #750f33;
    border-radius: 5% ;

}

h1 a{
    color: #fff;
    padding-left: 6vh;
    font-size: 4vh;
    text-decoration: none;
}
/* -------------------------------- End of Header */



.hero-section{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 3vh;
    height: 100%;
}


.hero-section section h3 {
    font-size: 10vh; 
    line-height: 1.4; 
    height: 100%;
    padding: 2vh;
    padding-left: 4vh;
    font-family: 'Balance', Arial, Helvetica, sans-serif;
    letter-spacing: 0.4vh;
    
    color: #fff;

    /*border-radius: 3%;
    border-style: solid;
    border-width: 1vh;
    border-color: #750f33;*/
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 7vh;
    margin-left: 5vh;
    height: 100%; 

}

.start-button {
    margin-top: 20px;
    padding: 1.5vh 3vh; 
    margin-left: 53%;
    font-size: 3.5vh; 
    font-family: 'Balance', Arial, Helvetica, sans-serif; 
    color: #fff; 
    background-color: #750f33;
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.start-button:hover {
    background-color: #a01745; 
}


 /* ------------------- Portrait Part */
.hero-section .me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    width: 45%;

}

.hero-section .me img{
    height: 60vh;
    border-radius: 60%;
    border-style: double;
    border-color: #380f44;
    border-width: 8px;
}

.hero-section .me a {
    position: relative; 
    color: #fff; 
    text-decoration: none; 
    font-size: 3.5vh; 
    padding: 4px 0; 
}

.hero-section .me a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: #750f33; 
    transition: width 0.3s ease; 
}

.hero-section .me a:hover::after {
    width: 100%; /* Révèle le soulignement au survol */
    
}
 /* ------------------- End Portrait Part */

















/* ---------------------------   Background Part */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0b001a;
    z-index: -1; /* Assure que le background soit bien à l'arrière-plan */
    overflow: hidden;
}

.background span {
    width: 28vmin;
    height: 28vmin;
    border-radius: 28vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 30;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #26114b;
    top: 48%;
    left: 8%;
    animation-duration: 107s;
    animation-delay: -21s;
    transform-origin: -3vw -18vh;
    box-shadow: -56vmin 0 7.7057081441415605vmin currentColor;
}
.background span:nth-child(1) {
    color: #26114b;
    top: 41%;
    left: 59%;
    animation-duration: 165s;
    animation-delay: -17s;
    transform-origin: 5vw 24vh;
    box-shadow: 56vmin 0 7.477060807131056vmin currentColor;
}
.background span:nth-child(2) {
    color: #26114b;
    top: 10%;
    left: 51%;
    animation-duration: 54s;
    animation-delay: -139s;
    transform-origin: 25vw -1vh;
    box-shadow: -56vmin 0 7.531324870837221vmin currentColor;
}
.background span:nth-child(3) {
    color: #26114b;
    top: 35%;
    left: 21%;
    animation-duration: 58s;
    animation-delay: -165s;
    transform-origin: -3vw 13vh;
    box-shadow: -56vmin 0 7.005887708223712vmin currentColor;
}
.background span:nth-child(4) {
    color: #760f2e;
    top: 43%;
    left: 5%;
    animation-duration: 94s;
    animation-delay: -132s;
    transform-origin: 5vw 15vh;
    box-shadow: 56vmin 0 7.165476141040068vmin currentColor;
}
.background span:nth-child(5) {
    color: #760f2e;
    top: 24%;
    left: 73%;
    animation-duration: 70s;
    animation-delay: -176s;
    transform-origin: -18vw -20vh;
    box-shadow: 56vmin 0 7.370025085586983vmin currentColor;
}
.background span:nth-child(6) {
    color: #760f2e;
    top: 51%;
    left: 26%;
    animation-duration: 194s;
    animation-delay: -58s;
    transform-origin: -10vw 6vh;
    box-shadow: -56vmin 0 7.8264468940230385vmin currentColor;
}
.background span:nth-child(7) {
    color: #760f2e;
    top: 95%;
    left: 42%;
    animation-duration: 86s;
    animation-delay: -149s;
    transform-origin: 8vw -20vh;
    box-shadow: -56vmin 0 7.173828197902693vmin currentColor;
}
.background span:nth-child(8) {
    color: #760f2e;
    top: 78%;
    left: 76%;
    animation-duration: 190s;
    animation-delay: -44s;
    transform-origin: -14vw 3vh;
    box-shadow: -56vmin 0 7.366034496191548vmin currentColor;
}
.background span:nth-child(9) {
    color: #26114b;
    top: 7%;
    left: 29%;
    animation-duration: 66s;
    animation-delay: -192s;
    transform-origin: -21vw -6vh;
    box-shadow: 56vmin 0 7.745490426164688vmin currentColor;
}


/* --------------------------------------------------             End  Background Part */

