@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;

    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
}



* {
    /* On initialize la page avec des valeurs par défaut*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* ----------------------------------------------------------------------------------------  Header */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14vh;
    padding: 20px;
    color: #fff;
    background-color: #0b001a;
}


.navbar::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 78%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #750f33;
}

.navbar img {
    height: 10vh;
    vertical-align: middle;
    margin-left: 1vh;
}

.navbar ul {
    display: flex;
    align-items: center;
    height: 5vh;
    list-style-type: none;
}

.navbar ul li a {
    padding: 2vh;
    font-size: 2.3vh;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    border-radius: 5%;
    background-color: #750f33;
}

h1 a {
    margin-right: 58vh;
    font-size: 4vh;
    text-decoration: none;
    color: #fff;
}

/* Menu burger hidden on larger screens */
.menu-toggle {
    display: none;
}


/* ----------------------------------------------------------------------------------------  End of Header */

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 2vh;
}

/* -- Contact Animation Title */
.contact-header {
    position: relative;
    display: flex;
    align-items: center;
}

svg {
    display: block;
    font: 8em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #63042b;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #dd991a;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.underline {
    position: absolute; 
    left: 50%;
    bottom: 10px; 
    width: 100%; 
    height: 3px; 
    background-color: #750f33;
    transform: translateX(-50%); 
    animation: underline-animation 4.5s ease-in-out infinite; 
}

@keyframes underline-animation {
    0% {
        width: 0; 
        left: 50%; 
        transform: translateX(-50%); 
    }
    50% {
        width: 30%; 
        left: 50%; 
        transform: translateX(-50%); 
    }
    100% {
        width: 0; /* Rétrécit le trait */
        left: 50%; /* Point de fin */
        transform: translateX(-50%); /* Centre le trait */
    }
}

/*  End Contact Animation Title */


.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10vh; 
    padding: 2vh;
    margin: 10vh;
}

.informations-container,
.contact-container {
    background-color: #2A1A3A;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(82, 146, 63, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.295); 
    min-height: 73vh; 
    flex: 1; 
}


.contact-info strong{
    margin-left: 2vh;
    color: #ffdff8; 
}

.contact-info img{
    height: 6vh;
    margin: 0 3vh 3vh 3vh;
}

/* Contenu des informations */
.contact-info p {
    font-size: 1.2em;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact-info p strong {
    font-size: 1.1em;
    margin-right: 10px;
}

.contact-info p:before {
    content: url('../../Images/Icons/location.png'); /* Icône pour la localisation */
    margin-right: 10px;
}

.contact-info p:nth-child(2):before {
    content: url('../../Images/Icons/email.png'); /* Icône pour l'email */
    margin-right: 10px;
}

.contact-info p:nth-child(3):before {
    content: url('../../Images/Icons/phone.png'); /* Icône pour le téléphone */
    margin-right: 10px;
}

/* Formulaire de contact */
.contact-form .form-group {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #F2EEF3;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #EDE9F0;
    color: #4A4A4A;
    transition: border-color 0.5s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #8B1E42;
    box-shadow: 0 0 10px rgba(139, 30, 66, 0.3);
    outline: none;
}

button {
    display: block;
    margin: 7% auto 0 auto; /* Centrer horizontalement avec auto pour gauche et droite, marges en haut et bas ajustées */
    width: 86%; /* Largeur du bouton */
    padding: 18px;
    background-color: #8B1E42;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
}

button p{
    font-size: 3vh;
}

button:hover {
    background: linear-gradient(90deg, #8B1E42, #AF335A);
    transform: scale(1.05);
}


/* ----------------------------------------------------------------------------------------  CV Section */

.cv-button {
    flex: 1;
    padding: 15px;
    margin: 8.5vh 10vh 0 10vh;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 4vh;
    transition: background-color 0.5s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    text-align: center;
    white-space: nowrap;
}

.cv-button.view {
    background-color: #8B1E42;
}

.cv-button.view:hover {
    background-color: #AF335A;
}

.cv-button.download {
    background-color: #8B1E42;
}

.cv-button.download:hover {
    background-color: #AF335A;
}



/* ----------------------------------------------------------------------------------------   Background Part */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0b001a;
    z-index: -1;
    /* Assure que le background soit bien à l'arrière-plan */
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    animation: move infinite linear;
    animation-duration: 30s;
}

.background span:nth-child(0) {
    color: #26114b;
    top: 48%;
    left: 8%;
    animation-duration: 107s;
    animation-delay: -21s;
    transform-origin: -10vw -20vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}

.background span:nth-child(1) {
    color: #26114b;
    top: 41%;
    left: 59%;
    animation-duration: 165s;
    animation-delay: -17s;
    transform-origin: 5vw 24vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}

.background span:nth-child(2) {
    color: #26114b;
    top: 10%;
    left: 51%;
    animation-duration: 54s;
    animation-delay: -139s;
    transform-origin: 25vw -1vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}

.background span:nth-child(3) {
    color: #26114b;
    top: 35%;
    left: 21%;
    animation-duration: 58s;
    animation-delay: -165s;
    transform-origin: -3vw 13vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}

.background span:nth-child(4) {
    color: #760f2e;
    top: 43%;
    left: 5%;
    animation-duration: 94s;
    animation-delay: -132s;
    transform-origin: 5vw 15vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}

.background span:nth-child(5) {
    color: #760f2e;
    top: 24%;
    left: 73%;
    animation-duration: 70s;
    animation-delay: -176s;
    transform-origin: -18vw -20vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}

.background span:nth-child(6) {
    color: #760f2e;
    top: 51%;
    left: 26%;
    animation-duration: 194s;
    animation-delay: -58s;
    transform-origin: -10vw 6vh;
    box-shadow: -56vmin 0 8vmin currentColor;
}

.background span:nth-child(7) {
    color: #760f2e;
    top: 95%;
    left: 42%;
    animation-duration: 86s;
    animation-delay: -149s;
    transform-origin: 8vw -20vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}

.background span:nth-child(8) {
    color: #760f2e;
    top: 78%;
    left: 76%;
    animation-duration: 190s;
    animation-delay: -44s;
    transform-origin: -14vw 3vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}

.background span:nth-child(9) {
    color: #26114b;
    top: 7%;
    left: 29%;
    animation-duration: 66s;
    animation-delay: -192s;
    transform-origin: -21vw -6vh;
    box-shadow: 56vmin 0 8vmin currentColor;
}



/* ----------------------------------------------------------------------------------------    End  Background Part */

/* ----------------------------------------------------------------------------------------  Footer Part */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 1%;
    text-align: center;
    background-color: #0b001a;
    color: #fff;
}

.footer-content::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2.5px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #750f33;
}

.bloc-media {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
}

.bloc-media ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    width: 30%;
}

.bloc-media ul li {
    margin: 0 10px;
}

.bloc-media ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #2e1228;
}

.bloc-media ul li a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.bloc-media ul li a:hover {
    transform: scale(1.1);
    background-color: #750f33;
}

.bloc-media ul li a:hover img {
    opacity: 0.8;
}

.bloc-menu {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 100%;
}

.bloc-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.bloc-menu ul li {
    margin: 0 15px;
}

.bloc-menu ul li a {
    position: relative;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 3vh;
    color: #fff;
}

.bloc-menu ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #750f33;
}

.bloc-menu ul li a:hover::before {
    visibility: visible;
    width: 100%;
}

.bloc-menu ul li a:hover {
    color: #750f33;
}

.bloc-copyright {
    margin-top: 4vh;
}


/* ----------------------------------------------------------------------------------------    Responsive Part */

/* ------------ Format Tablette  -------------- */
@media (max-width: 768px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    h1 a {
        padding: 1vh;
        font-size: 3.5vh;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: none;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(26, 15, 43, 0.95);
        z-index: 100;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .navbar ul li a {
        padding: 10px;
        font-size: 2.5vh;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        z-index: 101;
        display: block;
        cursor: pointer;
        font-size: 4vh;
        color: #fff;
        position: relative;
        margin-right: 20px;
    }

    .bloc-media ul {
        width: 50%;
    }

    .bloc-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .bloc-menu ul li {
        margin: 10px 0;
    }

    .bloc-menu ul li a {
        font-size: 2.5vh;
    }

    .bloc-copyright {
        margin-top: 2vh;
        font-size: 2vh;
    }
}














/* ----------- Format Téléphone -------------- */

@media (max-width: 480px) {

    .navbar {
        flex-direction: row;
    }

    h1 {
        flex-grow: 1;
    }

    .menu-toggle {
        margin-left: auto;
    }

    h1 a {
        font-size: 3vh;
    }

    .navbar ul li a {
        font-size: 2vh;
    }





    .bloc-media ul {
        width: 70%;
    }

    .bloc-menu ul li a {
        font-size: 2vh;
    }

    .bloc-menu ul li {
        margin: 8px 0;
    }
}